body {
    background-color: #F2E5D0;

    display: flex;
    flex-direction: column;

    font: normal 10px "Euclid Ci", Euclid, sans-serif;
    color: #6a5534;
}
.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 50px;
    min-height: 50px;
    font-size: 20px;
    margin: 15px;
}
.logo {
    margin-top: 5px;
}
.searchBar {
    width: 33%;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 20px;
}
.topBar .profile {
    display: flex;
    flex-direction: row;
}
.profileText {
    margin-top: 15px;
    margin-left: 10px;

    font-weight: bolder;
    font-style: italic;
    font-size: 17px;
}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 25px;

    max-height: 25px;
    min-height: 25px;
    font-size: 15px;
}
.navBar ul, li{
    display: flex;
    flex-direction: row;
}
.navBar li {
    list-style-type: none;
    margin-right: 30px;
}
.navBar i {
    margin: 5px;
}
.mainContainer {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}
.sideBar {
    height: 100%;
    width: 15%;

    display: flex;
    flex-direction: column;

    font-size: large;
}
.sideBar li {
    list-style-type: none;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    user-select: none;
}
.sideBar li:hover {
    background-color: #FCA72C;
}
.sideBar li:focus {
    background-color: azure;
}
.sideBar i {
    margin-right: 15px;
}
.sideBar ul {
    padding-left: 25px;
}
.content {
    height: 100%;
    width: 85%;

    display: flex;
    flex-direction: column;

    background-color: #f9f3ee;
    padding: 30px;
    border-radius: 30px;
    margin-right: 35px;

    box-shadow: inset -26px 31px 38px 19px rgba(0,0,0,0.1),inset 0px 10px 15px 0px rgba(0,0,0,0.1);
}
.content .top .txt .detailsButton {
    height: 50px;
    width: 250px;

    background-color: #FCA72C;
    color: snow;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin-top: 70px;

    box-shadow: -14px 8px 9px 0px rgba(0,0,0,0.1);
}
.content .txt {
    width: 300px;
    margin-left: 30px;
    margin-right: 100px;
}
.content .txt h3 {
    color: #c6bdb2;
    font-size: 15px;
}
.content .picks {
    display: flex;
    flex-direction: row;

}
.content .top, .bottom {
    display: flex;
    flex-direction: row;

}
.content .bottom {
    height: 40%;
    padding-top: 75px;
}
.content .top {
    position: relative;
    z-index: 15;
}

.content h1 {
    font-size: 32px;
}

.content img {
    border-radius: 15px;
    margin-right: 45px;
    box-shadow: -58px 29px 24px -7px rgba(0,0,0,0.1);
}

:root {
    --height: 100px;
    --width: 100%;
}

.container {
    width: 80%;
    height: 45%;
    position: absolute;
    padding-top: 310px;
}
.cuboid {
    width: 100%;
    height: 60%;
    margin: 0;
}
.cuboid__face {
    width: var(--width);
    height: var(--height);
}
.cuboid__face--front {
    transform: rotate3d(0, 1, 0, 15deg) translateY(calc(var(--height) * -0.15)) translateX(calc(var(--height) *  0.1));
    height: calc(var(--height) / 9);
    background-color: #fffefa;
    z-index: 12;
    position: relative;

}
.cuboid__face--back {
    transform: rotate3d(0, 1, 0, 15deg) translateY(calc(var(--height) * -1.95)) translateX(calc(var(--height) * -0.118));
    height: calc(var(--height) / 9);
    background-color: #e0d0bf;
    z-index: 7;
    position: relative;
}
.cuboid__face--top {
    transform: rotate3d(0, 1, 0, 15deg)
    rotateX(46deg);
    height: var(--height);
    background: rgb(221,207,186);
    background: linear-gradient(180deg, rgba(221,207,186,1) 0%, rgba(251,246,237,1) 100%);
    z-index: 9;
    position: relative;
}
.cuboid__face--bottom {
    transform: rotate3d(0, 1, 0, 15deg) rotateX(46deg) translateX(25px) translateY(-144px);
    background: rgb(224,208,191);
    background: linear-gradient(180deg, rgba(224,208,191,1) 0%, rgba(251,246,237,1) 100%);
    z-index: 8;
    position: relative;
}
.content .shadow{
    background: rgb(251,223,192);
    background: linear-gradient(180deg, rgba(251,223,192,1) 0%, rgba(255,238,218,0) 100%);
    height: calc(var(--height) * 1.4);
    transform: rotate3d(0, 1, 0, -15deg) rotateX(46deg) translateX(-85px) translateY(-304px);
    position: relative;
    z-index: 1;
}

.content .top .picks #book1 {
    height: 100%;
    width: 33%;
    align-self: flex-end;
    margin-top: 12%;
}

.content .top .picks #book2 {
    height: 90%;
    width: 25%;
    align-self: flex-end;
}

.content .top .picks #book3 {
    height: 80%;
    width: 22%;
    align-self: flex-end;
}
.content .top .picks #book4 {
    height: 70%;
    width: 20%;
    align-self: flex-end;
}
.content .top .picks #book5 {
    height: 60%;
    width: 20%;
    align-self: flex-end;
}

.content .bottom .picks img{
    height: 85%;
    width: 65%;
}
.content .bottom .picks {
    width: 100%;
}
.content .bottom .txt {
    width: 21%;
}
.content .top .txt {
    width: 24%;
}
.content .top .picks {
    width: 60%;
}
.content .bottom .picks .book_info {
    display: flex;
    flex-direction: column;
}
.content .book {
    height: 90%;
    width: 33%;
}
.content .bottom .book .book_title {
    font-size: 15px;
    font-weight: bold;
}
.content .bottom .book .book_author {
    font-size: 13px;
    font-style: italic;
}