@import url("https://css.gg/css");

body {
    background-color: #F2E5D0;

    display: flex;
    flex-direction: column;

    font: normal 10px "Euclid Ci", Euclid, sans-serif;
}
.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 50px;
    min-height: 50px;
    font-size: 20px;
    margin: 15px;
}
.logo {
    margin-top: 5px;
}
.searchBar {
    width: 33%;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 20px;
}
.topBar .profile {
    display: flex;
    flex-direction: row;
}
.profileText {
    margin-top: 15px;
    margin-left: 10px;
}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 25px;

    max-height: 25px;
    min-height: 25px;
    font-size: 15px;
}
.navBar ul, li{
    display: flex;
    flex-direction: row;
}
.navBar li {
    list-style-type: none;
    margin-right: 30px;
}
.navBar i {
    margin: 5px;
}
.mainContainer {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}
.sideBar {
    height: 100%;
    width: 20%;

    display: flex;
    flex-direction: column;

    font-size: large;
}
.sideBar li {
    list-style-type: none;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    user-select: none;
}
.sideBar li:hover {
    background-color: #FCA72C;
}
.sideBar li:focus {
    background-color: azure;
}
.content {
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;

    background-color: azure;
    padding: 30px;
    border-radius: 30px;
    margin-right: 35px;
}
.content .picks {
    display: flex;
    flex-direction: row;
}
.content .top, .bottom {
    display: flex;
    flex-direction: row;
}
.content img {
    border-radius: 15px;
    margin-right: 45px;
}

:root {
    --height: 50px;
    --width: 100%;
}

.container {
    width: var(--width);
    height: var(--height);
}

.cuboid {
    width: var(--width);
    height: var(--height);
    margin: 0;
}

.cuboid__face {
    width: var(--width);
    height: var(--height);
    background-color: grey;
}

.cuboid__face--front {
}

.cuboid__face--top {
    transform: translateZ(calc(var(--height) * -0.5)) translateY(calc(var(--height) * -0.5)) rotateX(90deg);
    height: var(--height);
}

.cuboid__face--bottom {
    --extra-height: 3rem;
    transform: translateZ(calc(var(--depth) * -0.5)) translateY(calc(var(--height) * 0.5)) rotateX(-90deg);
    height: calc(var(--depth) + var(--extra-height));
}
